:root {
  --primary-text-color: #2f303a;
  --title-text-color: #212121;
  --primaty-white-color: #ffffff;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --primary-bacground-color: #f5f4fa;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.site-nav__item-chapter:not(:last-child) {
  margin-right: 50px;
}

.contacts__item-contact:not(:last-child) {
  margin-right: 30px;
}

.page {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #757575;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 479px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.decoration {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo--blue {
  color: var(--accent-color);
}
.logo--black {
  color: #000000;
}
.logo--white {
  color: var(--primaty-white-color);
}

.image-list,
.clients-list {
  margin-top: 50px;
  display: flex;
}

.button {
  padding: 10px 32px;
  font-family: inherit;
  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  border-radius: 4px;
  border: none;
}

.button--main {
  background-color: var(--accent-color);
  color: var(--primaty-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.secondary {
  background-color: F5F4FA;
  color: var(--title-text-color);
  border: none;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primaty-white-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button:current .button.secondary {
  background-color: var(--accent-color);
  color: var(--primaty-white-color);
}

.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background-color: var(--primaty-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-close:hover .icon-close, .button-close:focus .icon-close {
  fill: var(--accent-color);
}

.button-field__button {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primaty-white-color);
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-field__button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.priority__icon {
  fill: var(--title-text-color);
}

.icon-socials {
  fill: currentColor;
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.header-links {
  margin: auto;
  display: flex;
  padding-left: 0;
  align-items: center;
}

.site-nav {
  display: flex;
}
.site-nav__item-chapter--current {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.site-nav__link-chapter {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link-chapter:hover, .site-nav__link-chapter:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.site-nav__link-chapter--current::after {
  display: flex;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 25px;
}

.contacts__item-contact {
  align-items: center;
}

.contacts__icon-contact {
  margin-right: 10px;
}

.contacts__link-contact {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
  color: #757575;
}
.contacts__link-contact:hover, .contacts__link-contact:focus, .contacts__link-contact--cuttent {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--primaty-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hiden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  padding: 35px 40px;
  display: flex;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--primaty-white-color);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  padding: 0;
  margin: 0;
  top: 35px;
  width: 100%;
}
.form__slogan {
  margin-top: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form__field {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.form__lable {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  position: relative;
}

.form__input-line {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  padding-left: 37px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input-line:focus, .form__input-line:hover {
  border-color: var(--accent-color);
}
.form__input-line:focus + .form__icon, .form__input-line:hover + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:hover, .form__comment:fokus {
  border-color: var(--accent-color);
}

.checkbox {
  margin-top: 13px;
  display: flex;
  margin-left: 12px;
}

.checkbox__label {
  display: flex;
  margin-right: 7px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__icon {
  display: flex;
  margin-top: 4px;
  margin-left: -13px;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  fill: var(--primaty-white-color);
  transition: fill, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  fill: var(--accent-color);
  border: none;
}

.deal {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.button-field {
  margin-top: 10px;
  text-align: center;
  bottom: 0;
  left: 120px;
  width: 100%;
}

.direction {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.priority {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.priority__item {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 479px) {
  .priority__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .priority__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .priority__item {
    width: 270px;
  }
}

.upper {
  background: var(--primary-bacground-color);
  border-radius: 4px;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.priority__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .priority__title {
    text-align: start;
  }
}

.priority__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 479px) {
  .priority__text {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .priority__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .priority__text {
    width: 270px;
  }
}

.direction {
  display: contents;
}
@media screen and (max-width: 1200px) {
  .direction {
    display: none;
  }
}

.image-list__item {
  position: relative;
}
.image-list__item:not(:last-child) {
  margin-right: 30px;
}

.image-list__description {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 5px;
}

.image-list__text {
  padding: auto;
  margin: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primaty-white-color);
}

.shadow {
  background: var(--primary-bacground-color);
  padding-bottom: 94px;
}

.personal {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .personal {
    margin-top: 50px;
  }
}

.personal__card {
  width: 100%;
  background-color: var(--primaty-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .personal__card {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .personal__card {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .personal__card {
    max-width: 270px;
  }
}

.personal__data {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .personal__data {
    padding-bottom: 30px;
  }
}

.personal__name {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.personal__position {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.personal__social-links {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  height: 44px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--icon-color);
}

.personal__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icon-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.personal__social-link:hover, .personal__social-link:focus {
  background-color: var(--accent-color);
  color: var(--primaty-white-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.client-list__client {
  width: 210px;
  height: 92px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list__client {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .client-list__client {
    width: 170px;
  }
}

.clients-list__site {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__site:hover, .clients-list__site:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.link-list {
  gap: 10px;
}

.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-text-color);
}

.footer-content-info {
  width: 100%;
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-content-info {
    display: flex;
  }
}

.logo-address {
  text-align: center;
  margin-bottom: 60px;
}

.address-slogan {
  margin-left: 61px;
  margin-right: 74px;
  gap: 165px;
}
@media screen and (min-width: 768px) {
  .address-slogan {
    display: flex;
  }
}

.post-address,
.address .contact {
  margin-right: 0;
  color: var(--primaty-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 20px;
  width: 231px;
  height: 81px;
}

.contact {
  margin-top: 9px;
}

.address .contact {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address .contact:hover, .address .contact:fokus {
  color: var(--accent-color);
}

.socials {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 206px;
  height: 80px;
}

.caption {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primaty-white-color);
}

.link-list {
  display: flex;
}

.link-svg-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primaty-white-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-svg-footer:hover, .link-svg-footer:fokus {
  background-color: var(--accent-color);
  color: var(--primaty-white-color);
}

.slogan {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: px;
  width: 100%;
  height: 86px;
}

.mail-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mail-label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .mail-label {
    max-width: 450px;
  }
}

.input-field {
  background-color: var(--primary-text-color);
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  outline: transparent;
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button-submit {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  color: var(--primaty-white-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 13px 28px;
  outline: transparent;
  background: #2196f3;
  border-radius: 4px;
  border: none;
}
.button-submit:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-filter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .button-filter {
    max-width: 450px;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 40px;
  }
}

.filter {
  padding: 6px 22px;
  font-size: 16px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.work-example {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-example__card {
  width: 100%;
  display: inline-block;
  background-color: var(--primaty-white-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work-example__card:hover .descr-text {
  transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .work-example__card {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .work-example__card {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .work-example__card {
    max-width: 370px;
  }
}

.work-example .work-example__card:hover,
.work-example .work-example__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}
.img::after {
  position: absolute;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 30px;
  background-color: rgba(33, 150, 243, 0.9);
}

.work-example__descr {
  position: relative;
  overflow: hidden;
}

.descr-text {
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.work-example__title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.name-example {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.branch {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */