.icon-close {
    width: 18px;
    height: 18px;
    fill: #000000;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.priority__icon {
    fill: var(--title-text-color);
}
.icon-socials {
    fill: currentColor;
}
.icon-send {
    margin-left: 10px;
    fill: currentColor;
}





