:root {
    --primary-text-color: #2f303a;
    --title-text-color: #212121;
    --primaty-white-color: #ffffff;
    --accent-color: #2196f3;
    --icon-color: #afb1b8;
    --primary-bacground-color: #f5f4fa;
}