.footer {
   display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-text-color);
}

.footer-content-info {
    
    width: 100%;
    display: block;
  
    
    @media screen and (min-width: 1200px){
        display: flex;}
  
    

}

.logo-address {
    
   text-align: center;
   margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
        text-align: start;
        margin-bottom: 0;
    }
}
.address-slogan {
    @media screen and (min-width: 768px){
        display:flex;}
        margin-left: 61px;
        margin-right: 74px;
        gap: 165px;
      @media screen and (min-width: 1200px){
        margin-left: 0;
        margin-right: 0;}  
        gap: 71px;
}

.post-address,
.address .contact {
    margin-right: 0;
    color: var(--primaty-white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.address {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 20px;
    width: 231px;
    height: 81px;
}

.contact {
    margin-top: 9px;
}

.address .contact {
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:fokus {
        color: var(--accent-color);
    }
}

.socials {
    margin-top: 12px;
    margin-left: auto;
    margin-right:auto;
     margin-bottom: 60px;

    width: 206px;
    height: 80px;
}

.caption {
 
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primaty-white-color);
     @media screen and (min-width: 1200px) {
    text-align: start;
  } 
}
.link-list {
    display: flex;
}
.link-svg-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primaty-white-color);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:fokus {
        background-color: var(--accent-color);
        color: var(--primaty-white-color);
    }
}

.slogan {
    margin-top: 12px;
    width: 582px ;
   
    width: 100%;
   @media screen and (min-width: 1200px){
        width: 582px;
    margin-left: 95px;} 
    
}


.mail-form {
   
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1200px){
       flex-direction: row;
    }

   }

.mail-label {
    width: 100%;
    margin-bottom: 20px;
    @media screen and (max-width: 1199px){
        max-width: 450px;}
     @media screen and (min-width: 1200px){
        max-width: 366px ;
    margin: 0;
    }   
    display: flex;
    justify-content: center;
    
    align-items: center;
    
}

.input-field {
    
    background-color: var(--primary-text-color);
  
  width: 100%;
    height: 50px;
    outline: transparent;
    padding: 10px;
      
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}

.button-submit {
   display: inline-block;
   justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
@media screen and (min-width: 1200px) {
    margin-left: 12px;
}
    
    color: var(--primaty-white-color);
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
 cursor: pointer;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 13px 28px;
    outline: transparent;
    background: #2196f3;
    border-radius: 4px;
    border: none;
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
