.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-desktop {
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.header-mobile {
    position: fixed;
    padding:48px 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: #fff;
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.header-mibile .burger {
    position: absolute;
    top: 10px;
    right: 15px;
}
.burger-open {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.burger-close {
    position: absolute;
    top: 15px;
    right: 15px;

}

.mobile-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}



.navigation {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.header-links {
    margin: auto;
    display: flex;
    padding-left: 0;
    align-items: center;
}

.site-nav {
    display: flex;
    &__item-chapter {
        @extend %mr-50;
    }
}

.site-nav__item-chapter {
    @extend %mr-50;
    &--current {
        fill: var(--accent-color);
        color: var(--accent-color);
    }
}
.site-nav__link-chapter {
    position: relative;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-color);
        color: var(--accent-color);
    }
    &--current::after {
        display: flex;
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        border: 2px solid var(--accent-color);
        background-color: var(--accent-color);
        border-radius: 2px;
        margin-top: 25px;
    }
}
.contacts__item-contact {
    @extend %mr-30;
    align-items: center;
}

.contacts__icon-contact {
    margin-right: 10px;
}

.contacts__link-contact {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #757575;
    color: #757575;
    &:hover,
    &:focus,
    &--cuttent {
        fill: var(--accent-color);
        color: var(--accent-color);
    }
}
