.hero {
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-img.jpg);
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;

    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
     @media screen and (min-width: 1200px) {
        padding-top: 200px;
    padding-bottom: 200px;}
    @media screen and (max-width: 479.8px) {
background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/header_mob1.jpg);
    }
    @media screen and (min-width: 480px) {
background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/header_tablet1.jpg);
    }
    @media screen and (min-width: 768px) {
background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/header_desktop1.jpg);
         }
     @media screen and (min-width: 1200px) { 
         height: 600px;
    }
}
@media screen and (max-width: 479.8px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and(--weblit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/header_mob2.jpg);
        }
    }
}
@media screen and (min-width: 480px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and(--weblit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/header_tablet2.jpg);
        }
    }
}
@media screen and (min-width: 768px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and(--weblit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/header_desktop2.jpg);
        }
    }
}



.hero__title {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primaty-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        width: 370px;
    }
    @media screen and (min-width: 1200px) {
        width: 698px;
        font-size: 44px;
        line-height: 1.36;
    }
}
